    .main-header{
        margin-top:1rem;
        margin-bottom:4rem;
        margin-left:4rem;
        margin-right:4rem;
        text-align: center;

        &__title{
            font-size: var(--h2-font-size);
            font-weight: var(--weight3);
            color: var(--grayish-blue);
        }
        
        &__subtitle{
            color: var(--very-dark-blue);
            font-weight: var(--weight3);
        }

        &__paragraph{
            font-size:14px;
        }
    }

    .card{
        height: 220px;
        border-radius: 10px;
        margin-bottom:3rem;
        position: relative;
        &:nth-child(1){
            border-top: 2px solid var(--cyan);
        }
        &:nth-child(3){
            border-top: 2px solid var(--blue);
        }
        
        &-image{
            position: absolute;
            right: 1rem;
            width: 4rem;
            height: 4rem;
        }
        &-content{
            padding:1rem;
        }
        
        
    }
    
    .section-two .card{
        &:nth-child(1){
            border-top: 2px solid var(--red);
        }
        &:nth-child(2){
            border-top: 2px solid var(--orange);
        }
    }

    .main-container{
        @include media(medium){
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            
        }
        @include media(large){
            grid-template-columns: repeat(3,1fr);
        }

    }

.profile{
    color:var(--red);
}